body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align:left;
}

h1 {
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.question-options {
    display: flex;
    gap: 10px;
}
form {
    margin: 20px;
}

button {
    display: block;
    margin: 0 auto;
    align-items: center;
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.95);
}

#timer {
    margin-top: 20px;
    font-size: 20px;
    color: red;
}
